.container {
  height: 100vh;
}
.main > .grid-container {
  grid-template-columns: 1fr 2fr;
}
.nav > ul > li {
  display: block;
}
.nav > ul {
  align-items: flex-start;
  width: 100%;
}
.grid-item > .contact > .flex-item > input {
  padding: 10px;
  width: 100%;
  margin: 0 auto;
}
.grid-item > .contact > .flex-item:last-child {
  display: flex;
}
.grid-item > .contact > .flex-item > .item-contact {
  width: 50%;
}
.form > form > input {
  width: 40%;
}
.grid-item > .contact > .flex-item > .item-contact > input {
  width: 80%;
  padding: 10px;
}
.form > .check {
  width: 4%;
}
.searchBox > .icons > p {
  display: flex;
}
